@import "tailwindcss";

@theme {
  --font-display: "Truculenta Variable", sans-serif;
}

@theme inline {
  --color-base: var(--color-mist-50);
  --color-surface: var(--color-white);
  --color-overlay: var(--color-mist-200);
  --color-text: var(--color-mauve-800);
  --color-subtle: var(--color-mauve-500);
  --color-primary: var(--color-emerald-400);
  --color-secondary: var(--color-pink-400);
  --color-destructive: var(--color-red-400);
}
